# -*- yaml -*-

docker:
  opts: --insecure-registry index.docker.io

hookforward:
  cloudant_url: toopy.cloudant.com/jenkins-ping
  webhook_url: http://jenkins-master.local/github-webhook/

jenkins:
  home: /var/lib/jenkins
  git:
    hosts:
      - github.com
  plugins:
    installed:
      - github
    skipped:
      - matrix-project
  # Number of executors on the master
  num_executors: 0

nginx:
  use_upstart: false
  use_sysvinit: false
