[Unit]
Description=Jenkins Master

[Service]
BlockIOWeight={{ blockioweight }}
CPUQuota={{ cpuquota }}
Environment=JENKINS_HOME=/var/lib/jenkins
ExecStart=/usr/bin/java -Dorg.kohsuke.stapler.compression.CompressionFilter.disabled=true -Djava.awt.headless=true -Dhudson.DNSMultiCast.disabled=true -jar /usr/share/jenkins/jenkins.war --webroot=/var/cache/jenkins/war --httpPort=8080 --ajp13Port=-1
User=jenkins

[Install]
WantedBy=multi-user.target
