[Unit]
Description=Hookforward

[Service]
{%- if not username or not password %}
ExecStart=/usr/local/bin/hookforward start https://{{ cloudant_url }} {{ webhook_url }}
{%- else %}
ExecStart=/usr/local/bin/hookforward start https://{{ username }}:{{ password }}@{{ cloudant_url }} {{ webhook_url }}
{%- endif %}
Restart=always

[Install]
WantedBy=multi-user.target
