[program:hookforward]
{%- if username and password %}
command=hookforward start https://{{ username }}:{{ password }}@{{ cloudant_url }} {{ webhook_url }}
{% else %}
command=hookforward start https://{{ cloudant_url }} {{ webhook_url }}
{%- endif %}
directory={{ home }}
user={{ user }}
autostart=true
redirect_stderr=true
stdout_logfile={{ logdir }}/hookforward.log
